
<div class="dialog-header">
  <span class="header-text">Edit Todo - {{data.id}}</span>
</div>
<div class="dialog-body">
  <div class="edit-dialog-body-contaoner">
    <form class="mat-dialog-content" #formControl="ngForm">
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="data.title" name="title"
            required></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="Status" [(ngModel)]="data.state" name="state"
            maxlength="10" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>

    </form>
  </div>
  <div class="action-btn-container">
    <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
    <button mat-button class="replace-btn" [disabled]="formControl.invalid" (click)="save()">
      Save
    </button>
  </div>
</div>
